
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscaminas</title>
    <style>
      body{
            background-color: #AFACA9;
        }

    </style>
  </head>
  <body class="">
    <main  class="container_">
      <div class="card">

      <h1>PROYECTO BUSCAMINAS CON DJANGO</h1>

      <div class="info">
        <p>Antonio Parrilla Álvarez</p>
      </div>
        <a href="{% url 'tablero' %}">CREAR TABLERO 😉</a>

      </div>

    </main>

  </body>
</html>